# Folders
runtime/target/
platform/target/
platform/.settings/
runtime/.settings/

# Files
.project
.classpath
platform/.project
platform/.classpath
runtime/.project
runtime/.classpath
runtime/bin/
examples/GreetingsBotMoodle/*.json
examples/GreetingsBotMoodle/*.properties